body{
    background: #f2f3f7;
}
.w3-margin-top {
    margin-top: 130px !important
}

.card,.bxcan {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}
